@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
    
}

#page1 .video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    z-index: -1;
}

#page1 #back-vid {
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    height: auto;
    width: auto;
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.75);
}

#page1 .overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #008080a1;
    opacity: 0.4;
}

#page1 .container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

#page1 .section-title {
    color: #fff;
    font-size: 6rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}